asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
crccheck==0.6
cryptography==2.7
dominate==2.4.0
ecdsa==0.13.3
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-MySQL==1.4.0
future==0.17.1
gmssl==3.2.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy
psutil
pycparser
PyCRC
pycrypto
pycryptodomex
pymongo
PyMySQL
pyscard
pyserial==3.4
requests
six
urllib3
visitor
Werkzeug
xlrd
xlutils
xlwt
